.cadastrar{
	background-color: #E6E7E8;
	border: 1px solid white;
}

.barra_lateral{
	background-color: #009E9A;
	height: 555px;
}

.topo{
    background-color: #E6E7E8;
    height: 555px;
}

.voltar{
    background-color: #E6E7E8;
}

.bt_voltar{
	width: 184px;
	height: 33px;
	color: #009E9A;
	margin-left: 85px;
	margin-top: 35px;
	font-family: 'Avenir';
    font-size: 9px;
    border: none;
}

.titulo{
    background-color: #E6E7E8;
	margin-left: 85px;
	font-family: 'Avenir';
	color: #343224;
}

.formulario{
    font-family: 'Avenir';
	font-size: 13px;
	color: #343224;
}

.formulario label{
	margin-top: 10px;
}

.formulario input{
	width: 90%;
	height: 25px;
	margin-bottom: 15px;
	border-radius: 2px;
	border-color: #E6E7E8;
	border-style: inset;
	
	
}

::placeholder{
	color:#A9ABAE;
	font-size: 9px;
	opacity: 0.5;
	font-style: italic;
}


.dados{
	color: #343224; 
	font-size: 15px;
    font-family: 'Avenir';
}

.cadastrar_Modal{
	background-color: white;
	margin-left: 85px;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 1em #A9ABAE;
}

.nome {
	margin-bottom: 20px;
}

.empresa{
	margin-bottom: 20px;
}

.corretor{
	margin-bottom: 10px;

}

.bt_cancelar{
	width: 184px;
	height: 33px;
	background-color: #A9ABAE;
	color: #343224;
	border-radius: 7px;
	border-color: #A9ABAE;
	box-shadow: none;
	margin-left: 85px;
	margin-top: 35px;
	font-family: 'Avenir';
}

.bt_cadastrar{
	width: 184px;
	height: 33px;
	background-color: #009E9A;
	color: white;
	border-radius: 7px;
	border-color: #009E9A;
	box-shadow: none;
	margin-left: 85px;
	margin-top: 35px;
	font-family: 'Avenir';
}

/* MODAL */

.modal-container{
	width: 100%;
	height: 100%;
	font-family: 'Avenir';
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal{
	background-color: white;
	font-family: 'Avenir';
	width: 30%;
	height: 20%;
	min-width: 300px;
	padding: 40px;
	border-radius: 3px;
	position: relative;
	color: #343224;
	display: flex;
}

@keyframes modal {
	from{
		opacity: 0;
		transform: translate3d(0, -60px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.mostrar .modal{
	animation: modal .3s;
	
}

.fechar{
	position: absolute;
	font-size: 1.2em;
	top: -30px;
	right: -30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 4px solid white;
	background: #988b7a;
	color: white;
	font-family: 'Avenir';
	cursor: pointer;
	box-shadow: 0 4px 4px 0 (rgba(0, 0, 0, .3));
	}


.subtitulo{
	display: flex;
	justify-content: center;
	align-items: center;
}


.bt_confirma{
	width: 60px;
	height: 60px;
	margin: 0 auto;
	justify-content: center;
	align-items: flex-start;

}




/*FONT*/
@font-face {
    font-family: 'Avenir';
    src: url('../../../assets/AvenirLTStd-Medium.otf') 
    format('opentype');
}


/*GRID*/

.flex {
	max-width: 1004px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap; /* Quebra a linha */
}

.flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4, .flex-item-5, .flex-item-6, .flex-item-7, .flex-item-8, .flex-item-9, .flex-item-10, .flex-item-11, .flex-item-12 {
	margin-left: 0px;
	margin-right: 0px;
	align-self: flex-stretch; /*alinha os itens ao inicio */
}

.flex-item-1 {
	width: calc(8.333% - 20px);
}
.flex-item-2 {
	width: calc(16.666% - 20px);
}
.flex-item-3 {
	width: calc(25% - 20px);
}
.flex-item-4 {
	width: calc(33.333% - 20px);
}
.flex-item-5 {
	width: calc(41.666% - 20px);
}
.flex-item-6 {
	width: calc(50% - 20px);
}
.flex-item-7 {
	width: calc(58.333% - 20px);
}
.flex-item-8 {
	width: calc(66.666% - 20px);
}
.flex-item-9 {
	width: calc(75% - 20px);
}
.flex-item-10 {
	width: calc(83.333% - 20px);
}
.flex-item-11 {
	width: calc(91.666% - 20px);
}
.flex-item-12 {
	width: calc(100% - 20px);
}


/* RESPOSNSIVO */
@media (max-width: 739px){

	.formulario{
		width: 100%;
		display: block;
	}
	.nome {
		width: 100%;
		
	}
	.telefone{
		width: 100%;
		margin-top: -30px;
	}
	.empresa{
		width: 100%;
		margin-top: -20px;
	}
	.email{
		width: 100%;
		margin-top: -30px;
	}
	.corretor{
		width: 100%;
		margin-top: -20px;
	}

	.cadastrar_Indicacoes{
		margin-top: -10px;
	}

	.bt_formulario{
		width: 100%;
		margin: 10 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -25px;

	}

	.bt_cancelar{
		margin-top: -5px;
		margin: 0 auto;
	}

	.bt_cadastrar{
		margin-bottom: 2px;
		margin: 5px 5px 5px 5px;

	}

}
