.detalhar{
	background-color: #E6E7E8;
	border: 1px solid white;
	font-family: 'Avenir';
}

.barra_lateral{
	background-color: #009E9A;
	height: 555px;
}

.topo{
    background-color: #E6E7E8;
    height: 555px;
}

.voltar{
    background-color: #E6E7E8;
}

.bt_voltar{
	width: 184px;
	height: 33px;
	color: #009E9A;
	margin-left: 85px;
	margin-top: 35px;
	font-family: 'Avenir';
    font-size: 9px;
    border: none;
}

.titulo{
    background-color: #E6E7E8;
	margin-left: 85px;
	font-family: 'Avenir';
	color: #343224;
}

.exibir{
	height: 300px;
	padding-left: 85px;
	background-color: #E6E7E8;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.informacoes{
    background-color: white;
    margin-left: 85px;
	border-radius: 10px;
	box-shadow: 0 0 1em #A9ABAE;
}

.status{
    background-color: coral;
}

.cabecalho{
    background-color: white;
    margin-left: 85px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: #E6E7E8 2px solid;
	border-radius: 10px 10px 0px 0px;
}
.texto{
	color: #009E9A;
    font-size: 15px;
}

.conteudo{
	padding: 10px;
	font-size: 12px;
	line-height: 1.8;
}

.nome{
	padding-left: 10px;
}


.status{
	height: 55px;
	background-color: white;
    border-radius: 10px;
	box-shadow: 0 0 1em #A9ABAE;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.bt_editar{
	border: none;
	background-color: white;
}

.icon_editar{
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border: none;
	cursor: pointer;
}

label{
	color: #606062;
}

.telefoneEmail {
	display: flex;
	justify-content: space-around;
}

.empresaCorretor{
	display: flex;
	justify-content: space-around;
}

strong{
	font-weight: bolder;
}

.statusResposta{
	color:#CA9F5F;
}

.bt_cancelar{
	width: 184px;
	height: 33px;
	background-color: #A9ABAE;
	color: #343224;
	border-radius: 7px;
	border-color: #A9ABAE;
	box-shadow: none;
	margin-left: 85px;
	margin-top: 35px;
	font-family: 'Avenir';
}

.bt_deletar{
	width: 184px;
	height: 33px;
	background-color: #009E9A;
	color: white;
	border-radius: 7px;
	border-color: #009E9A;
	box-shadow: none;
	margin-left: 85px;
	margin-top: 35px;
	font-family: 'Avenir';
}




/*FONT*/
@font-face {
    font-family: 'Avenir';
    src: url('../../../assets/AvenirLTStd-Medium.otf') 
    format('opentype');
}


/*GRID*/

.flex {
	max-width: 1004px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap; /* Quebra a linha */
}

.flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4, .flex-item-5, .flex-item-6, .flex-item-7, .flex-item-8, .flex-item-9, .flex-item-10, .flex-item-11, .flex-item-12 {
	margin-left: 0px;
	margin-right: 0px;
	align-self: flex-stretch; /*alinha os itens ao inicio */
}

.flex-item-1 {
	width: calc(8.333% - 20px);
}
.flex-item-2 {
	width: calc(16.666% - 20px);
}
.flex-item-3 {
	width: calc(25% - 20px);
}
.flex-item-4 {
	width: calc(33.333% - 20px);
}
.flex-item-5 {
	width: calc(41.666% - 20px);
}
.flex-item-6 {
	width: calc(50% - 20px);
}
.flex-item-7 {
	width: calc(58.333% - 20px);
}
.flex-item-8 {
	width: calc(66.666% - 20px);
}
.flex-item-9 {
	width: calc(75% - 20px);
}
.flex-item-10 {
	width: calc(83.333% - 20px);
}
.flex-item-11 {
	width: calc(91.666% - 20px);
}
.flex-item-12 {
	width: calc(100% - 20px);
}


/* RESPOSNSIVO */
@media (max-width: 739px){

	.formulario{
		width: 100%;
		display: block;
	}
	.nome {
		width: 100%;
		
	}
	.telefone{
		width: 100%;
		margin-top: -30px;
	}
	.empresa{
		width: 100%;
		margin-top: -20px;
	}
	.email{
		width: 100%;
		margin-top: -30px;
	}
	.corretor{
		width: 100%;
		margin-top: -20px;
	}

	.cadastrar_Indicacoes{
		margin-top: -10px;
	}

	.bt_formulario{
		width: 100%;
		margin: 10 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -25px;

	}

	.bt_cancelar{
		margin-top: -5px;
		margin: 0 auto;
	}

	.bt_cadastrar{
		margin-bottom: 2px;
		margin: 5px 5px 5px 5px;

	}

}
